name: Build Windows

on: push

jobs:
  build:
    name: Build code
    runs-on: windows-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up go
        uses: actions/setup-go@v5

      - name: Install go dependencies
        run: |
          go get ./...
          go mod tidy

      - name: Build
        run: go build ./cmd/nes
